<!DoCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='js/element-index.css') }}">
</head>
<body>
<div id="app">
    <el-input v-model="input" placeholder="请输入想生成的图片"></el-input>
    <el-button style="margin-top: 20px;margin-bottom: 20px" @click="createPic">生成图片</el-button>
    <div class="demo-image__preview">
        <el-image
                style="width: 600px; height: 600px"
                :src="url"
                :preview-src-list="srcList">
        </el-image>
    </div>
</div>
</body>
<!-- import Vue before Element -->
<script src="{{ url_for('static',filename='js/vue.js') }}"></script>
<script src="{{ url_for('static',filename='js/axios.min.js') }}"></script>
<!-- import JavaScript -->
<script src="{{ url_for('static',filename='js/element-index.js') }}"></script>
<script>
    var testVue = new Vue({
        el: '#app',
        data: function () {
            return {
                input: '',
                message: 'xxxxxxxxx',
                url: '',
                srcList: [
                    '',
                ]
            }
        },
        methods: {
            createPic() {
                const data = {input: testVue.input};
                axios.post('/createPic',data)
                    .then(response => {
                        testVue.url = response.data.image_url
                        testVue.srcList[0] = response.data.image_url
                        console.log(response);
                    })
                    .catch(error => {
                        console.log(error);
                    });

            }
        }
    })
</script>
</html>

