<!DoCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='js/element-index.css') }}">
</head>
<body>
<div id="app">
    <el-container>
        <el-main v-cloak>

            <el-col :span="12" :push="6">
                <el-card style="min-width: 786px;">
                    <div slot="header" class="clearfix" style="text-align: center;font-size: 20px">
                        <strong><h4>根据文字生成图片-小工具</h4></strong>
                    </div>

                    <el-input v-model="input" placeholder="请输入想生成的图片"></el-input>
                    <el-button style="margin-top: 20px;margin-bottom: 20px" @click="createPic">生成图片</el-button>
                    <div class="demo-image__preview">
                        <el-image
                                v-if="url!=''"
                                style="width: 600px; height: 600px"
                                :src="url"
                                :preview-src-list="srcList">
                        </el-image>
                    </div>

                </el-card>
            </el-col>
        </el-main>
    </el-container>
</div>
</body>
<!-- import Vue before Element -->
<script src="{{ url_for('static',filename='js/vue.js') }}"></script>
<script src="{{ url_for('static',filename='js/axios.min.js') }}"></script>
<!-- import JavaScript -->
<script src="{{ url_for('static',filename='js/element-index.js') }}"></script>
<script>
    var testVue = new Vue({
        el: '#app',
        data: function () {
            return {
                input: '',
                message: 'xxxxxxxxx',
                url: '',
                srcList: [
                    '',
                ]
            }
        },
        methods: {
            createPic() {
                const data = {input: testVue.input};
                axios.post('/createPic', data)
                    .then(response => {
                        testVue.url = response.data.image_url
                        testVue.srcList[0] = response.data.image_url
                        console.log(response);
                    })
                    .catch(error => {
                        console.log(error);
                    });

            }
        }
    })
</script>
</html>

